

html {
    /* footer support */
    position: relative;
    min-height: 100vh;
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(243, 243, 243);
    text-align: center;
    background-color: #1E1E1E;
}

.container {
    margin: auto;
    height: auto;
    background-color: #1E1E1E;
    padding: 16px;
    border-radius: 16px;
    width: auto;
    max-width: 800px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 15vh; 
}


.container > div{
    width: 100%;
}

.header{
    width: 80%;
    margin-bottom: 40px;
}
.title {
    width: 100%;
}




.body {
    display:flex;
}


h3 {
    font-size: medium;
}
.man-side {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.man-side > img {
    width: 20%;
    max-width: 75px;
    margin-bottom: 8px;
}
.choice-holder-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 16px;
   
}

.bot-side {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.bot-side > img {
    width: 20%;
    max-width: 75px;
    margin-bottom: 8px;
}
.choice-holder-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 16px;

}
.vs-column {
    width: 20%;
    margin: 8px;
    align-self: center;
}
.vs {
    font-size: medium;
}

.tally-1{
    width: 120px;
    display: flex;
    justify-content: space-around;
    margin-top: 4px;
}

.tally-2{
    width: 120px;
    display: flex;
    justify-content: space-around;
    margin-top: 4px;
}


.tally-1 > div {
    width: 8px;
    height: 8px;
    background-color: rgb(129, 129, 129);
    border-radius: 4px;
}
.tally-2 > div {
    width: 8px;
    height: 8px;
    background-color: rgb(129, 129, 129);
    border-radius: 4px;
}



.footer {
    margin-top: 16px;
    display:flex;
    flex-flow: column;
    align-items: center;
}
.buttons {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
button {
    padding: 8px;
    border-radius: 8px;
    background-color: #242424;
    color: white;
    font-size: medium;
}
button:active {
    transform: scale(1.1);
}
.rock:active {
    box-shadow: 0 0 0 1px #87029d;
}
.paper:active {
    box-shadow: 0 0 0 1px #006f77;
}
.scissors:active {
    box-shadow: 0 0 0 1px #2d750b;
}
.rock {
    border: 2px solid #87029d;
}
.paper {
    border: 2px solid #006f77;
}
.scissors {
    border: 2px solid #2d750b;
}
.refresh {
    padding: 8px;
    align-self: flex-end;
    border: 2px solid black;
    font-size:small;
    transform: scale(0.8);
}

.image {
    width: 200px;
    max-width: 200px;
    border-radius: 8px;
}
.image1 {
    width: 200px;
    max-width: 200px;
}

.playAgain {
    border: 2px solid white;
}

.playAgain :hover {
    transform: scale(1.2);
}
.footer-1 {
    margin-top: 16px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
p {
    font-size: small;
}

footer {
  
    position: fixed;
    margin-bottom: 4px;
    bottom: 0;
}

footer > a {
    color: white;
    text-decoration: none;
}

.round-counter {
    font-size: x-large;
}

.vs {
    font-size: large;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
 
}
@media only screen and (max-width: 600px){
    .container {
        margin-top: 15vh;
    }
	.choice-holder-1{
        height: 150px;
        width: 150px;
    }
    .choice-holder-2{
        height: 150px;
        width: 150px;
    }
    .image {
        width: 150px; 
    }
    .image1 {
        width: 150px;
    }
    .tally-1{
        width: 80px;
       
    }
    .tally-2{
        width: 80px;
    }

}
@media only screen and (max-width: 425px){
    .container {
        margin-top: 15vh;
    }
	.image {
        width: 125px; 
    }
    .image1 {
        width: 125px;
    }
    .choice-holder-1{
        height: 125px;
        width: 125px;
    }
    .choice-holder-2{
        height: 125px;
        width: 125px;
    }
    .round-counter {
        font-size: medium;
    }
    
    .vs {
        font-size: small;
    }
    .tally-1{
        width: 80px;
       
    }
    .tally-2{
        width: 80px;
    }
    }

    @media only screen and (max-width: 330px){
        .container {
            margin-top: 15vh;
        }
        .image {
            width: 100px; 
        }
        .image1 {
            width: 100px;
        }
        .choice-holder-1{
            height: 100px;
            width: 100px;
        }
        .choice-holder-2{
            height: 100px;
            width: 100px;
        }
        .round-counter {
            font-size: medium;
        }
        
        .vs {
            font-size: small;
        }
        .tally-1{
            width: 80px;
           
        }
        .tally-2{
            width: 80px;
        }
        button {
            transform: scale(0.9);
        }
        .refresh {
            display: none;
        }
        }



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* animation */
.round-counter{
    animation:  blink-animation 1s steps(3, start) infinite;
    -webkit-animation: blink-animation 1s steps(3, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }