body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(243, 243, 243);
    text-align: center;
    padding-top: 5%;
    background-color: #000000;
}

.container {
    margin: auto;
    top: 50%;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 16px;
    border-radius: 16px;
    width: fit-content;
    gap: 32px;
}

.header{
    align-self: center;
}
.body {
    display:flex;
    align-self: center;
    gap: 80px;
}
h3 {
    font-size: x-large;
}
.man-side {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;
}
.man-side > img {
    height: 75px;
    width: 75px;
}
.choice-holder-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 16px;
}

.bot-side {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;
}
.bot-side > img {
    height: 75px;
    width: 75px;
}
.choice-holder-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 16px;
}
.vs-column {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.white-line {
    background-color: white;
    width: 4px;
    height: 160px;
}

.footer {
    display:flex;
    flex-flow: column;
    align-items: center;
    gap: 16px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}
button {
    padding: 16px;
    border-radius: 8px;
    background-color: #242424;
    color: white;
    font-size: large;
}
button:hover {
    transform: scale(1.1);
}
.rock:hover {
    box-shadow: 0 0 0 1px #87029d;
}
.paper:hover {
    box-shadow: 0 0 0 1px #006f77;
}
.scissors:hover {
    box-shadow: 0 0 0 1px #2d750b;
}
.rock {
    border: 2px solid #87029d;
}
.paper {
    border: 2px solid #006f77;
}
.scissors {
    border: 2px solid #2d750b;
}
.refresh {
    padding: 8px;
    align-self: flex-end;
    border: 2px solid black;
    font-size:small;
}
.disabled {
    opacity: 0.5;
}


